*{
  box-sizing: border-box;
}

body{
  min-height: 130vh;
}
a{
  color: inherit;
  text-decoration: none;

  &:focus{
    outline: 2px solid $color-main;
  }
}

button{
  &:focus{
    outline: 2px solid $color-main;
  }
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}


img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.checkbox{
  &__label{
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-left: 11px;
  }
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__style {
    display: flex;
    justify-content: space-between;
    margin-right: 4px;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid #91A0B7;
    position: absolute;
    top: 9px;
    left: 0;
  }

  &__input:checked + &__style::before {
    content: '';
    width: 4px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 3px;
    border-right: 2px solid #97EE3F;
    border-bottom: 2px solid #97EE3F;
    transform: rotate(45deg);
  }
}
