.header{
  background: #FFFFFF;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);

  &__inner{
    display: flex;
    align-items: center;
    z-index: 0;
    padding: 14px 0;
  }

  &__nav{
    display: flex;
    margin-left: auto;
  }
}

.logo{
  width: auto;
  height: 72px;
}

.nav{
  &__list{
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &__item{
    margin-right: 85px;
    border-bottom: 2px solid transparent;
    position: relative;
    padding-bottom: 3px;

    &:after{
      content: "";
      width: 0;
      height: 2px;
      background-color: $color-main;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 200ms ease-in-out;
    }

    &:hover:after{
      width: 100%;
    }
  }

  &__link{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #333333;

    &:active{
      color: $color-main;
    }

    &:focus{
      outline: 2px solid $color-main;
    }
  }
}

.search-form{
  z-index: 100;
  &__inner{
    display: none;
    background-color: #fff;
    padding: 16px 13px 16px 32px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    width: 540px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &__inner--open{
    display: flex;
    align-items: center;
  }
  &__input{
    border: none;
    width: 412px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-right: 14px;
  }

  &__open-btn{
    margin-top: 2px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

.search__btn{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  &:focus{
    outline: 2px solid $color-main;
  }
}

.btn{
  &-search{
    margin-right: 20px;
  }
}

.mobile-menu{
  display: none;
}
