.hero{
  color: #ffffff;
  margin-bottom: 97px;

}

.hero-item{
  position: relative;

  &__inner{
    position: absolute;
    top: 100px;
    left: 80px;
    max-width: 870px;
  }

  &__title{
    margin-bottom: 24px;
  }

  &__text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
  }
}
