.hero{
  color: #ffffff;
  margin-bottom: 97px;

}

.hero-item{
  position: relative;
  overflow: hidden;

  &__img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: max-content;
  }

  &__inner{
    margin: 100px 80px 55px 80px;
    max-width: 870px;
  }

  &__title{
    margin-bottom: 24px;
  }

  &__text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
  }
}


.slider-dots{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  &__dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__dot:not(:last-child){
    margin-right: 20px;
  }
}
