<section class="about-us">
    <div class="container">
        <h2 class="title about-us__title">О нас</h2>
        <div class="about-us__text">
            Также как перспективное планирование создаёт необходимость включения в
            производственный план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по
            своей масштабности и грандиозности. А также диаграммы связей могут быть описаны максимально подробно. Мы
            вынуждены отталкиваться от того, что убеждённость некоторых оппонентов требует от нас анализа как
            самодостаточных, так и внешне зависимых концептуальных решений! Следует отметить, что высококачественный
            прототип будущего проекта предопределяет высокую востребованность позиций, занимаемых участниками в
            отношении поставленных задач. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего
            проекта способствует повышению качества экспериментов.
        </div>
        <div class="about-us__details">
            <div class="article">
                <picture class="article__img">
                    <source srcset="/assets/img/about-us-article-1-lg.jpg" media="(max-width: 1024px)">
                    <source srcset="/assets/img/about-us-article-1.webp">
                    <img src="/assets/img/about-us-article-1.webp" alt="">
                </picture>
                <div class="article__headings">
                    <div class="article__description">
                        Принимая во внимание показатели успешности, перспективное
                        планирование способствует подготовке и реализации новых принципов.
                    </div>
                    <a href="#" class="btn-secondary article__btn">Подробнее</a>
                </div>
            </div>

            <div class="details__wrapper">
                <div class="details details-1">
                    <div class="details__inner">
                        <div class="details__title">Консультация с широким активом</div>
                        <div class="details__text">
                            А также свежий взгляд на привычные вещи - безусловно открывает новые
                            горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.
                        </div>
                    </div>
                </div>
                <div class="details details-2">
                    <div class="details__inner">
                        <div class="details__title">В своём стремлении повысить</div>
                        <div class="details__text">
                            Качество жизни, они забывают, что сплочённость команды профессионалов
                            представляет собой интересный эксперимент проверки прогресса профессионального сообщества.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
