<div class="mobile-menu">
    <div class="mobile-menu__btn burger ">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
    </div>
    <div class="mobile-menu__inner">
        <div class="mobile-menu__close"></div>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">О нас</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Как мы работаем</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Часто задаваемые вопросы</a></li>
            <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Оставить заявку</a></li>
        </ul>
    </div>
</div>
